@page "/person/edit/{PersonID:int}"

<h3>Edit Person</h3>

@if (Person != null)
{
    <PeopleForm Person="Person" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int PersonID { get; set; }
    private PersonModel Person;

    protected override void OnInitialized()
    {
        Person = new PersonModel { Name = "Aziz", DateOfBirth = new DateTime(1996, 06, 15), Biography = "something" };
    }

    private void Edit()
    {
        Console.WriteLine("Edit Method");
        Console.WriteLine(Person.Name);
    }
}