@page "/genre/create"

<h3>Create Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {
    private GenreModel genre = new GenreModel();

    private void Create()
    {
        Console.WriteLine("Create Method");
        Console.WriteLine(genre.Name);
    }
}